@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;600;700&display=swap');


html {
    scroll-behavior: smooth;
}
.logo {
    font-family: 'PT Sans', sans-serif;
}
.body {
    font-family: 'Roboto Slab', serif;
}